/*---------------------------General*/
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy:100,200,300,400,500,600,700|Cursive:100,200,300,400,500,600,700');

body {
    font-family: 'Luckiest Guy', cursive;
    color: #ffffff;
}
h1, h2, h3, h4, p {
    letter-spacing: 1px;
}

/*---------------------------Background Image*/
/* Red backgroud image. Free for commercial use from https://pixabay.com */
.bg-image {
    background: url(../images/red-background.jpg) center / cover no-repeat;
}

/*---------------------------Navigation*/
#brand {
    height: 3em;
}
.navbar a {
    font-size: 32px;
    color: #E80509;
}
.navbar-light .navbar-nav .nav-link {
    color: #E80509;
}

/*---------------------------Media*/
.video {
    display: block;
    width: 80%;
    height: 60%;
    margin: 30px auto 30px auto;
}

/*---------------------------Audio Tracks*/
#music {
    display: block;
}
.album-covers {
    width: 10em;
    height: 10em;
    margin: 15px;
}

/*---------------------------Footer*/
.footer-container {
    background-color: #343F4B;
    padding: 15px;
    text-align: center;
    display: block;
}
.copyright a {
    color: #ffffff; 
}
.soical-links a {
    color: #ffffff;
    font-size: 20px;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
}