/*---------------------------General*/

@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy:100,200,300,400,500,600,700|Cursive:100,200,300,400,500,600,700');

body {
    font-family: 'Luckiest Guy', cursive;
}

/*---------------------------Colors*/

.bg-white {
    background-color: #ffffff;
}

/* Red backgroud image. Free for commercial use from https://pixabay.com */
.bg-image {
    background: url(../images/red-background.jpg) center / cover no-repeat;
    width: 100%;
    height: 100%;
}

/*---------------------------Navigation*/

/* The Monkees logo targeting its positioning */
.brand {
    float: left;
}

/* The Monkees logo targeting the image itself */
#brand {
    max-height: 80px;
    max-width: 100px;
    padding: 7px;
}

.topnav {
    overflow: hidden;
    background-color: #ffffff;
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
}

/* Style the links inside the navigation bar */
.topnav a {
    display: inline;
    color: red;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    padding-left: 50px; 
    padding-right: 30px;    
}

/* Hide the icon that should open and close the topnav on large screens */
.topnav .icon {
    display: none;
    color: #E80509;
}

/* Add a red background on topnav links on hover */
.topnav a:hover {
    color: #343F4B;
    cursor: pointer;
    text-decoration: underline;
}

.topnav .icon:hover {
    color: #E80509;
    text-decoration: none;
}

/*---------------------------Images*/

#image-monkees {
    border: 2px solid rgba(118, 81, 104, 0.52);
    border-radius: 110px;
    width: 80%;
    height: 40%;
    display: block;
    margin: 50px auto 50px auto;
    animation: reduce 3s ease-in;
}

/* Animation targeting #image-monkees to reduce in size */
@keyframes reduce {
    from {
        width: 100%;
        height: 80%;
    }
    
    to {
        width: 80%;
        height: 40%;
    }
}

/*---------------------------Live dates*/

#live-dates {
    color: #ffffff;
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
}

#live-table {
    display: block;
    margin: 5% 20% 10% 20%;
}

table {
    width: 100%;
}

td {
    padding: 15px;
    border-bottom: 3px solid #ffffff;
    letter-spacing: 2px;
    font-size: 24px;
}

.btn-find-ticket {
    margin-bottom: 10px;
}

.cover-2 {
    margin: 50px
}
/*---------------------------Book Us*/

#book-us {
    color: #000000;
    text-align: center;
    margin: 60px ;
}

.bookus-text {
    text-align: center;
    display: block;
    margin: 20px auto;
    font-size: 24px
    
}

.bookus-form {
    text-align: left;
    display: block;
    margin-top: 20px;
    margin-bottom: 70px;
}

.bookus-form label input {
    display: inline-block;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
}

label {
    display: inline-block;
    max-width: 100%;
    margin-top: 5px;
    font-weight: 700;
    font-size: 24px;
}

textarea {
    display: inline-block;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
}

/*---------------------------Modal*/

.modal-title {
    text-align: center;
}

.modal-content p {
    text-align: center;
    font-size: 24px;
}
/*---------------------------Audio Tracks*/

#music {
    color: #ffffff;
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    margin-top: 15px;
}

.custom-container {
    margin-right: 30px;
    margin-left: 30px;
}

.album-content {
    margin-top: 15px;
    margin-bottom: 30px;
}
.album-covers-left {
    width: 250px;
    height: 250px;
    border: 2px solid #343F4B;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.album-audio-left {
    margin-top: 10px;
}

.album-bio {
    background-color: #ffffff;
    color: #343F4B;
    border: 2px solid #343F4B;
    border-radius: 10px;
    padding: 7px;
}

.album-covers-right {
    width: 250px;
    height: 250px;
    border: 2px solid #343F4B;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    float: right;
}

.album-audio-right {
    margin-top: 10px;
    float: right;
}

/*---------------------------video*/

.video {
    margin-left: 21%;
    margin-top: -30px;
    width: 60%;
    padding-bottom: 15px;
}


/*---------------------------Meet the Band*/

#meet {
    color: #ffffff;
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    margin-top: 50px;
}

.band-content {
    background-color: #ffffff;
    color: #343F4B;
    border: 2px solid #343F4B;
    border-radius: 10px;
    margin-top: 5%;
}

.band-content p, h4 {
    padding: 7px;
}

.band-img {
    float: right;
    min-width: 200px;
    min-height: 400px;
    border: 2px solid #343F4B;
    border-radius: 10px;
    margin-top: 10%;
}

.artist-img {
    border: 2px solid #343F4B;
    border-radius: 10px;
}

.artist-bio {
    background-color: #ffffff;
    color: #343F4B;
    border: 2px solid #343F4B;
    border-radius: 10px;
    float: left;
    padding: 5px;
    width: 90%;
}

.artist-bio p {
    padding: 5px;
}

.artist-content {
    margin: 15px 15px 30px 15px;
    padding: 5px;
}
/*---------------------------Footer*/

.footer-container {
    background-color: #343F4B;
    width: 100%;
    padding: 15px;
}

.copyright a {
    font-size: 10px;
    color: #ffffff;
    float: left;
    padding-top: 10px;
}

.soical-links {
    margin-left: 48%;
}
.soical-links a {
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    padding: 35px 5px 5px 5px;
    text-decoration: none;
}

/*---------------------------------------------------------------------------------------Media Queries*/

/* When the screen is less than 991 pixels wide hide all links expect the 'Home' link. Show burger icon that open and closes the topnav (.icon) */
@media screen and (max-width: 991px) {
/*---------------------------Navigation*/
  .topnav a:not(:first-child) {
    display: none;  
  }
  .topnav {
        text-align: left;
    }  
  .topnav a {
        font-size: 48px;
    }
/* Display icon top right in Nav bar */    
  .topnav a.icon {
    float: right;
    display: block;
  }
  
/* Hide the The Monkees logo in the Nav bar */      
  .brand {
    display: none
    }    
    
  .topnav.responsive {
      position: relative;
    }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive {
      float: none;
    }
  .topnav.responsive {
      position: relative;
    }
  .topnav.responsive {
    display: block;
    width: 100%;
    text-align: left;
  }

/*---------------------------Live dates*/

h1 {
    font-size: 80px;
}

    #live-table{
        margin: 15px;
    }    
    
td {
    font-size: 32px;
}

.btn {
    font-size: 24px;
}    

/*---------------------------Book Us*/
    .bookus-text {
        font-size: 32px;
    }   
    
    label {
        font-size: 32px;
    }
/*---------------------------Audio Tracks*/

.album-covers-left {
    margin-top:30px;
}

.album-audio-left {
    margin-left: 30px;
    margin-top: 30px;
    width: 80%;
    padding-bottom: 15px;
}

.album-bio {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    padding-bottom: 15px;
    font-size: 26px;
}
 h4 {
        font-size: 48px;
    }    

.album-covers-right {
    margin-top: 30px;
}

.album-audio-right {
    margin-right: 30px;
    margin-top: 30px;
    width: 80%;
    padding-bottom: 15px;
}

/*---------------------------Meet the Band*/

.band-content {
    font-size: 32px;
}

.band-img {
    width: 600px;
    height: 600px;
    margin-right: 7%;
}

.artist-img {
    width: 400px;
    height: 400px;
}

.artist-bio {
    margin-top: 15px;
}
.artist-bio p {
    font-size: 32px;
}

/*---------------------------Footer*/
.copyright a {
    font-size: 20px;
}

.soical-links {
    margin-left: 45%;
}
.soical-links a {
    font-size: 32px;
}
    
}