/*---------------------------General*/

@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy:100,200,300,400,500,600,700|Cursive:100,200,300,400,500,600,700');

body {
    font-family: 'Luckiest Guy', cursive;
}

/*---------------------------Colors*/

.bg-white {
    background-color: #ffffff;
}

.bg-image {
    background: url(../images/red-background.jpg) center / cover no-repeat;
    width: 100%;
    height: 100%;
}

/*---------------------------Navigation*/

/* Add background color to the top navigation */
.topnav {
  overflow: hidden;
  background-color: #ffffff;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

/* Style the links inside the navigation bar */
.topnav a {
  display: inline;
  color: red;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 26px;
}

/* Hide the icon that should open and close the topnav on large screens */
.topnav .icon {
  display: none;
}

/* Add a red background on topnav links on hover */
.topnav a:hover {
  color: #343F4B;
  cursor: pointer;
  text-decoration: underline;
}

.topnav .icon:hover {
    background-color: #E80509;
    color:#000000 !important;
}

/*---------------------------Images*/

#image-monkees {
    border: 2px solid rgba(118, 81, 104, 0.52);
    border-radius: 110px;
    width: 80%;
    height: 40%;
    display: block;
    margin: 80px auto;
}

/*---------------------------Live dates*/

#live-dates {
    color: #ffffff;
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
}

#live-table {
    display: block;
    margin: 5% 20% 10% 20%;
}

table {
    width: 100%;
}

td {
    padding: 15px;
    border-bottom: 3px solid #ffffff;
    letter-spacing: 2px;
    font-size: 24px;
}

.btn-find-ticket {
    margin-bottom: 10px;
}

.cover-2 {
    margin: 50px
}
/*---------------------------Book Us*/

#book-us {
    color: #000000;
    text-align: center;
    margin: 60px ;
}

.bookus-text {
    text-align: center;
    display: block;
    margin: 20px auto;
    font-size: 24px
    
}

.bookus-form {
    text-align: left;
    display: block;
    margin-top: 20px;
    margin-bottom: 70px;
}

.bookus-form label input {
    display: inline-block;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
}

label {
    display: inline-block;
    max-width: 100%;
    margin-top: 5px;
    font-weight: 700;
    font-size: 24px;
}

textarea {
    display: inline-block;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
}

/*---------------------------Footer*/

.footer-container {
    background-color: #343F4B;
    width: 100%;
    padding: 15px;
}

.copyright a {
    font-size: 10px;
    color: #ffffff;
    float: left;
    padding-top: 10px;
}

.soical-links {
    margin-left: 48%;
}
.soical-links a {
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    padding: 35px 5px 5px 5px;
    text-decoration: none;
}

/*---------------------------Media Queries*/

/* When the screen is less than 767 pixels wide and hide all links. Show the icon that should open and close the topnav (.icon) */
@media screen and (max-width: 767px) {
  .topnav a {
    display: none;
    font-size: 16px;
    padding: 5px;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .topnav.responsive {
      position: relative;
    }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
  .topnav.responsive {
      float: none;
    }
  .topnav.responsive {
      position: relative;
    }
  .topnav.responsive {
    display: block;
    width: 100%;
    text-align: left;
  }
}

/* When the screen is less than 991 pixels wide and hide all links. Show the icon that should open and close the topnav (.icon) */
@media screen and (max-width: 991px) {
  .topnav a {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 991px) {
  .topnav.responsive {
      position: relative;
    }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
  .topnav.responsive {
      float: none;
    }
  .topnav.responsive {
      position: relative;
    }
  .topnav.responsive {
    display: block;
    width: 100%;
    text-align: left;
  }
}


