/*---------------------------General*/
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy:100,200,300,400,500,600,700|Cursive:100,200,300,400,500,600,700');

body {
    font-family: 'Luckiest Guy', cursive;
    color: #ffffff;
}
h1, h2, h3, h4, p {
    letter-spacing: 1px;
}

/*---------------------------Background Image*/
/* Red backgroud image. Free for commercial use from https://pixabay.com */
.bg-image {
    background: url(../assets/images/red-background.jpg) center / cover no-repeat;
    width: 100%;
    height: 100%;
}

/*---------------------------Navigation*/
#brand {
    height: 3em;
}
.navbar a {
    font-size: 32px;
    color: #E80509;
}
.navbar-light .navbar-nav .nav-link {
    color: #E80509;
}

/*---------------------------Images*/
#image-monkees {
    border: 2px solid rgba(118, 81, 104, 0.52);
    border-radius: 110px;
    width: 90%;
    height: 50%;
    margin: 30px;
    animation: reduce 3s ease-in;
}

/* Animation targeting #image-monkees to reduce in size */
@keyframes reduce {
    from {
        width: 100%;
        height: 80%;
    }
    
    to {
        width: 90%;
        height: 90%;
    }
}

/*---------------------------Live dates*/
#live-dates {
    margin-top: 50px;
}
#live-table {
    margin-top: 15px; 
    margin-bottom: 30px;
}       
.table td {
    border-bottom: 3px solid #ffffff;
    letter-spacing: 1px;
    color: #ffffff;
    vertical-align: middle;
    padding: 15px;
    font-size: 12px;
}
/* Button style for Find Tickets and also Submit in book-us section */
.btn {
    font-size: 12px;
} 
/*---------------------------Book Us*/
#book-us {
    color: #343F4B;
    margin-top: 50px;
    margin-bottom: 50px;
}
input {
    box-shadow: 5px 5px;
}
textarea {
    box-shadow: 5px 5px;
    color: #343F4B;
}

/*---------------------------Media*/
.video {
    margin: 30px;
    width: 80%;
    height: 60%;
}

/*---------------------------Audio Tracks*/
#music {
    display: block;
    margin: 30px;
}
.album-covers {
    width: 10em;
    height: 10em;
    margin: 15px;
}

/*---------------------------Meet the Band*/
.band-img {
    width: 40%;
    height: 50%;
}
/*---------------------------Footer*/
.footer-container {
    background-color: #343F4B;
    padding: 15px;
    text-align: center;
    display: block;
}
.copyright a {
    color: #ffffff; 
}
.social-links a {
    color: #ffffff;
    font-size: 20px;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
}
/*---------------------------------------------------------------------------------------Media Queries*/
@media (min-width: 767px) {
    .table td {
        font-size: 18px
    }
    .btn {
        font-size: 18px;
    }
}